a {
  color: #00B7FF; }

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  fill: none; }

.node circle {
  stroke: #fff;
  stroke-width: 1.5px; }

.node text {
  pointer-events: none;
  font: 10px sans-serif; }

.legend {
  font-size: 10px; }

.legend rect {
  fill: white;
  stroke: black;
  opacity: 0.8; }

.navbar-custom {
  background-color: #8DB4BB !important;
  margin-bottom: 2em; }

.bannerImage {
  height: 100px;
  overflow: hidden; }
  .bannerImage img {
    width: 100%;
    margin-top: -90px; }

.bottom {
  margin-bottom: 2em; }

/*# sourceMappingURL=style.css.map */