a
  color: #00B7FF

.link
  stroke: #999
  stroke-opacity: 0.6
  fill: none;

.node circle
  stroke: #fff
  stroke-width: 1.5px

.node text
  pointer-events: none
  font: 10px sans-serif

.legend
  font-size: 10px

.legend rect
  fill: white
  stroke: black
  opacity: 0.8

.navbar-custom
  background-color: #8DB4BB !important
  margin-bottom: 2em

.bannerImage
  height: 100px
  overflow: hidden
  img
    width: 100%
    margin-top: -90px

.bottom
  margin-bottom: 2em

.tooltip
  position: absolute
  text-align: center
  max-width: 200px
  padding: 3px
  font: 12px sans-serif
  background: lightsteelblue
  border: 0px
  border-radius: 8px
  pointer-events: none

.questionMappingTable th
  padding: 1px 15px 1px 3px
  vertical-align: bottom

.questionMappingTable td
  padding: 1px 10px 1px 3px

img.img-logo
    max-height: 50px
    max-width: 150px
    width: auto
    height: auto
    margin: auto
    display: block
