<html>
<head>
</head>
<body>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h2>About</h2>
        <p>This website presents the results of a study that compiled information on current Canadian SBEO data resources.  The objectives of the study were to:
          <ul><li>Identify and characterize existing, developing, and planned SBEO data resources operated by public, private and academic entities in Canada;</li>
            <li>Identify the strengths, weaknesses, and gaps, in the current SBEO data resources and ecosystem, notably in comparison with well-established international systems like the Copernicus DIAS and Digital Earth Australia; </li>
            <li>Identify opportunities for the CSA and its federal government partners to maintain and improve the current ecosystem for the benefit of Canadian users; and</li>
            <li>Produce a map of the Canadian SBEO data resources ecosystem.</li>
          </ul>
        </p>
        <p>To map the interactions among the Canadian SBEO data ecosystem, this dynamic visualization tool has been created.  This tool allows a user to view the information ecology (IE) graph in its entirety or in parts.  The graphs are produced using the SPARQL query language, while a simplified web user interface allows filtering and interactively dragging nodes and hubs to explore specific relationships.</p>
        <p>The data presented here was collected through a series of interviews with Canadian data platform managers.  The interview guide is available here.</p>
        <h2>Acknowledgements</h2>
        <p>The study was prepared for the Canadian Space Agency</p>
        <p>The study was conducted by Hatfield Consultants and Hickling Arthurs Low Corporation</p>
        <p>The data ecosystem tool was created by the National Snow & Ice Data Center at the University of Colorado (Principal Investigator – Peter Pulsifer; Developer – Brendan Billingsley).</p>
        <p>The data ecosystem tool is hosted on Polar TEP</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <img class="img-fluid img-logo" src="/images/csa_asc.png" alt="Canadian Space Agency Logo">
      </div>
      <div class="col-md-2">
        <img class="img-fluid img-logo" src="/images/hatfield.png" alt="Hatfield Consultants Logo">
      </div>
      <div class="col-md-2">
        <img class="img-fluid img-logo" src="/images/hickling_arthurs_low.png" alt="Hickling Arthurs Low Corporation Logo">
      </div>
      <div class="col-md-2">
        <img class="img-fluid img-logo" src="/images/nsidc.png" alt="National Snow and Ice Data Center Logo">
      </div>
      <div class="col-md-2">
        <img class="img-fluid img-logo" src="/images/polartep.png" alt="Polar TEP Logo">
      </div>
      <!-- <div class="col-sm-10">
        <img class="img-logo" src="/images/csa_asc.png" alt="Canadian Space Agency Logo">
        <img class="img-logo" src="/images/hatfield.png" alt="Hatfield Consultants Logo">
        <img class="img-logo" src="/images/hickling_arthurs_low.png" alt="Hickling Arthurs Low Corporation Logo">
        <img class="img-logo" src="/images/nsidc.png" alt="National Snow and Ice Data Center Logo">
        <img class="img-logo" src="/images/polartep.png" alt="Polar TEP Logo">
      </div> -->
    </div>
  </div>
</body>
</html>
