<html>
  <head>
    <script src="../d3-collection/d3-collection.js"></script>
    <script src="../d3-dispatch/d3-dispatch.js"></script>
    <script src="../d3-request/d3-request.js"></script>
    <script src="../d3-sparql/d3-sparql.js"></script>
    <script src="../javascripts/dataHelper.js"></script>
    <script src="../javascripts/d3.legend.js"></script>
    <script src="../javascripts/queries.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
  <div role="main" class="container-fluid bottom">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <select id="filterList" class="custom-select">
          <option value=""></option>
        </select>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block" id="sparqlQueryFilter" value="1">Filter Selection</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-secondary btn-block" id="sparqlQuery" value="1">Graph Selection</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-secondary btn-block" id="resetGraph" value="1">Reset Graph</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12" id="graphDiv"></div>
    </div>
    <script src="../javascripts/graph.js"></script>
    <script>
      initGraph('csadata');
    </script>
  </div>
  </body>
</html>
