<html>
<head>

</head>
<body>
<div role="main" class="container">
  <div class="row align-items-center">
    <div class="col-sm-12">
      <h2>Welcome to the Canadian SBEO Data Resource Ecosystem Map</h2>
      <p>The data ecosystem map is displayed by clicking on “CSA Data Graph” in the main menu.  This page has five areas:
  <ol>
    <li>The current graph in the centre of the page</li>
    <li>The legend of node types at the left</li>
    <li>The drop-down menu at the top left</li>
    <li>The ‘Filter Selection’ button at the top centre</li>
    <li>The 'Graph Selection’ button at the top right</li>
  </ol>
  </p>

  <p>
  The default graph contains all the data in the database.  A data node can be selected in the drop-down menu.  For example, if the CCADI-ARDI platform is chosen and the ‘Filter Selection’ button is pressed, all the data for that platform will be highlighted, and all the other data dimmed.  Alternatively, if the ‘Graph Selection’ node is selected, all the other data is deleted and only the CCADI-ARDI data remains.  Selecting the ‘Reset Graph’ button will return to the default graph.  Hovering over a node will bring up more information about it in a box.
  </p>
  <p>
  The following table lists the data that is available in the drop-down menu and the interview guide question from which the data was obtained.
  <table class="questionMappingTable">
    <thead>
      <tr>
        <th>Question Number</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Platform Name</td>
      </tr>
      <tr>
        <td>2-5</td>
        <td>EO Ecosystem Layers covered by platform functionalities</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Platform Information: System Status</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Linkage to Government of Canada Themes</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Platform Resources: Cloud Type</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Platform Resources: Storage Capacity</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Metadata Standard</td>
      </tr>
      <tr>
        <td>15</td>
        <td>OGC Standard</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Specialized Data Standards</td>
      </tr>
      <tr>
        <td>17-21</td>
        <td>Platform Services</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Atmosphere/Met/Climate/Hydro Product</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Multispectral Product</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Optical Product</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Radar Product</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Upcoming Sentinel Product</td>
      </tr>
    </tbody>
  </table>
  </p>
    </div>
  </div>
</div>
</body>
</html>
